[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/consul.d/consul.hcl

[Service]
Type=notify
User=ec2-user
Group=ec2-user
ExecStart=/usr/local/bin/consul agent -node="ec2-ip-$(/etc/consul.d/get_ip.sh | sed 's/\./-/g')" -config-file=/etc/consul.d/consul.hcl
ExecReload=/usr/local/bin/consul reload
ExecStop=/usr/local/bin/consul leave
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target